$base-asset-url: '/assets/';

@import 'coop-toolkit';
@import 'components/tiles';

// Temp fix to get the kit homepage looking better
.header-main .coop-logo {
  margin-left: 0;
  padding: 10px 10px 10px 0;
}

// donate block

//custom styles.

$input-margin: $grid-gutter / 2;
$tile-spacing: $grid-gutter / 2;

.form-group {
  display: flex;
}

.form-group-item {
  display: inline-flex;
  flex-wrap: nowrap;

  &:first-child {
    margin-right: $input-margin;
    width: 100%;
  }
}

.donate-tile-input.donate-tile-input {
  appearance: none;
  border-radius: 0;
  width: calc(100% - #{$input-margin});
}

.input-addon {
  @include form-field;
  line-height: 1.9;
}

.target-bar {
  border: 1px solid $green-mid;
  margin-top: $grid-gutter;
  width: 100%;
}

.target-bar-indicator {
  display: block;
  height: 40px;
  transition: width 1s ease-out;
  width: 0;
}

.donate-tile-onward.donate-tile-onward {
  border-top: 1px solid $coop-border-grey;
  margin-bottom: -#{$tile-spacing};
  margin-left: -#{$tile-spacing};
  margin-right: -#{$tile-spacing};
  margin-top: $tile-spacing;
  padding: $tile-spacing;

  @include media(large) {
    margin-bottom: -#{$grid-gutter};
    margin-left: -#{$grid-gutter};
    margin-right: -#{$grid-gutter};
    margin-top: $grid-gutter;
    padding: $grid-gutter;
  }
}

.target-indicator {
  display: grid;
  margin-bottom: 0;
  padding: $grid-gutter 0;

  .js & {
    opacity: 0;

    &.show {
      opacity: 1;
      transition: opacity 1s ease-out;
    }
  }


}

.target-indicator-title {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0;

  &:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }
}

.target-indicator-amount {
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 0;

  &:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }
}
