$base-asset-url: '/assets/';

@import 'coop-toolkit';
@import 'components/tiles';

// Temp fix to get the kit homepage looking better
.header-main .coop-logo {
  margin-left: 0;
  padding: 10px 10px 10px 0;
}

// donate block

//custom styles.

$input-margin: $grid-gutter / 2;
$tile-spacing: $grid-gutter / 2;

.form-group {
  display: flex;
}

.form-group-item {
  display: inline-flex;
  flex-wrap: nowrap;

  &:first-child {
    margin-right: $input-margin;
    width: 100%;
  }
}

.donate-tile-input.donate-tile-input {
  width: calc(100% - #{$input-margin});
}

.input-addon {
  @include form-field;
}

.target-bar {
  border: 1px solid $green-mid;
  width: 100%;
}

.target-bar-indicator {
  display: block;
  height: 40px;
}

.donate-tile-onward.donate-tile-onward {
  border-top: 1px solid $coop-border-grey;
  margin-bottom: -#{$tile-spacing/2};
  margin-left: -#{$tile-spacing};
  margin-right: -#{$tile-spacing};
  margin-top: $tile-spacing;
  padding: $tile-spacing;

}
